@page
@model PluraSightNetCore01.Pages.ClientRestaurantModel
@{

}

<h2>Client Restaurants</h2>

<table class="table" id="restaurant"></table>

@section Scripts {

    <environment include="Development">
        <script src="~/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="~/node_modules/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <link href="~/node_modules/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.20/datatables.min.css" />
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.20/datatables.min.js"></script>
    </environment>

    <script>
        $(function () {

            var cuisines = ["Unknown", "Mexican", "Hungarian", "Italian"];
            $.ajax("/api/restaurants/",
                { method: "GET" })
                .then(function (response) {
                    $("#restaurant").dataTable(
                        {
                            data: response,
                            columns: [
                                { "data": "name" },
                                { "data": "location" },
                                {
                                    "data": "cuisine", "render": function (data) {
                                        return cuisines[data];
                                    }
                            ]
                        }
                    )
                })
        })
    </script>

}